APP_ENV=prod
PORT=4242
HOST=http://localhost
jwtSecret=Root321@
BDD_type=postgres
POSTGRES_USER=ibrahima
POSTGRES_PASSWORD=ibrahima
POSTGRES_HOST=localhost
POSTGRES_DB=urgence
POSTGRES_PORT=5438
POSTGRES_TEST_USER=ibrahima
POSTGRES_TEST_PASSWORD=ibrahima
POSTGRES_TEST_HOST=localhost
POSTGRES_TEST_DB=urgenceTest
POSTGRES_TEST_PORT=5432
API_HOSPITAL_URL=https://data.iledefrance.fr/api/records/1.0/search/?dataset=les_etablissements_hospitaliers_franciliens
DATABASE_URL= 'postgres://kgrrogzoxujazp:7ea66085fb52b79e4f1c096899754edf1c00187c447461e0059aea70b4bb19f3@ec2-54-228-251-117.eu-west-1.compute.amazonaws.com:5432/d2369m4m31l2sn'
